.dashboard__layout {
    display: grid;
    grid-template-columns: 264px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    gap: 2rem 0;
    grid-auto-flow: row;
    grid-template-areas:
        "aside nav nav"
        "aside section section"
        "aside section section";
    background-color: var(--background);
    min-height: 100vh;
    max-height: 100%;
}

.dashboard__layout_hide_aside {
    display: block !important;
}

.dashboard__aside,
.dashboard__aside_hide {
    grid-area: aside;
    background-color: var(--white);
    block-size: 100%;
    padding: 1rem;
    box-shadow: 4px 0px 30px 0px rgba(131, 98, 234, 0.05);
    border-inline-end: 1px solid #F0F1F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard__aside_hide {
    display: none;
}

.dashboard__nav {
    grid-area: nav;
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid #F3F3F3;
    block-size: 80px;
}

.dashboard__body {
    grid-area: section;
    background-color: var(--white);
    margin-inline: 1.5rem;
    margin-block-end: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 20px 0px rgba(46, 45, 116, 0.02);
    border: 1px solid #F4F4F4;
}

.overlay {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}

.overlay_show {
    display: none;
}

.remove_margin {
    margin-inline: 0 !important;
    margin-block-start: 1.5rem;
}

@media (width <=991px) {
    .dashboard__layout {
        display: block !important;
    }

    .dashboard__aside {
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 264px;
        block-size: 100%;
        z-index: 999;
    }

    .overlay_show {
        display: block !important;
    }

    .dashboard__body {
        margin-inline: .5rem;
        margin-block-start: 1.5rem;

    }
}

@media (width > 991px) {
    .dashboard__aside_hide {
        display: flex !important;
        grid-area: aside;
        background-color: var(--white);
        block-size: 100%;
        padding: 1rem;
        box-shadow: 4px 0px 30px 0px rgba(131, 98, 234, 0.05);
        border-inline-end: 1px solid #F0F1F3;
    }

    .dashboard__aside {
        display: none;
    }
}